<p-table
  [value]="store.urlData()"
  [paginator]="true"
  [rows]="5"
  [first]="first"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} URLs"
  [tableStyle]="{ width: '100%' }"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  paginatorPosition="bottom"
  sortField="creationDateToString"
  [sortOrder]="-1"
  (onPage)="pageChange($event)"
  pageLinks="5">
  <ng-template pTemplate="header">
    <tr>
      <th class="shorten_head">
        <span class="shorten_title">Shortened URL</span>
        <span class="shorten_original">Original URL</span>
      </th>
      <th pSortableColumn="creationDateToString">
        Creation Date
        <p-sortIcon field="creationDateToString"></p-sortIcon>
      </th>
      <th>Action</th>
      <th>QR Code</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-url>
    <tr>
      <td>
        <div class="url-stack">
          <span>{{ url.shortUrlDetails.shortUrl }}</span
          ><br />
          <span>{{ url.shortUrlDetails.fullUrl }}</span>
        </div>
      </td>
      <td>
        {{ url.creationDateToString }}
      </td>
      <td>
        <a [href]="url.shortUrlDetails.fullUrl" target="_blank" rel="noopener noreferrer">
          <i class="pi pi-copy"></i>
        </a>
      </td>
      <td>
        <qrcode [qrdata]="url.qrCodeData" [width]="60"></qrcode>
      </td>
    </tr>
  </ng-template>
</p-table>
