<section class="urls-table">
  <p-table
    #dt
    [value]="store.urlData()"
    dataKey="shortUrl"
    [paginator]="true"
    [rows]="rows()"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} URLs"
    [tableStyle]="{ width: '100%', tableLayout: 'fixed' }"
    paginatorPosition="top"
    sortField="creationDateToString"
    [sortOrder]="-1"
    [globalFilterFields]="['shortUrlDetails.shortUrl', 'shortUrlDetails.fullUrl']">
    <ng-template pTemplate="caption" class="ml-auto">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <input
            #textInput
            pInputText
            type="text"
            (input)="dt.filterGlobal(textInput.value, 'contains')"
            placeholder="Search..." />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="shorten_head">
          <span class="shorten_title">Shortened URL</span> <span class="shorten_original">Original URL</span>
        </th>
        <th pSortableColumn="creationDateToString" class="creation-date-column">
          Creation Date <p-sortIcon field="creationDateToString"></p-sortIcon>
        </th>
        <th>Action</th>
        <th>QR Code</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-url>
      <tr>
        <td>
          <div class="url-stack">
            <span>{{ url.shortUrlDetails.shortUrl }}</span
            ><br />
            <span>{{ url.shortUrlDetails.fullUrl }}</span>
          </div>
        </td>
        <td>{{ url.creationDateToString }}</td>
        <td>
          <button
            (click)="copyAndOpenUrl(url.shortUrlDetails.shortUrl, url.shortUrlDetails.fullUrl)"
            class="copy-button">
            <i class="pi pi-copy"></i>
          </button>
        </td>
        <td><qrcode [qrdata]="url.qrCodeData" [width]="60"></qrcode></td>
      </tr>
    </ng-template>
  </p-table>
</section>
