main {
  max-width: var(--width-content);
  background-color: var(--color-white);
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box; // Prevent any added padding from expanding the main element's width beyond the viewport.
}
