<section class="url-form">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <app-control for="longURL" label="Enter the URL that want to be shorten">
      <input name="longURL" id="longURL" #longUrl="ngModel" #input required ngModel />
    </app-control>

    <app-control for="shortURL" label="Customize the shorten url">
      <input
        name="shortURL"
        id="shortURL"
        #shortUrl="ngModel"
        required
        #input
        placeholder="https://sar.to/ Your Short URL"
        ngModel />
    </app-control>

    <p class="button-container">
      <button type="submit">Create Short URL</button>
    </p>

    @if (longUrl.touched && longUrl.dirty && longUrl.invalid) {
      <p class="control-error">Invalid Long URL entered.</p>
    }

    @if (shortUrl.touched && shortUrl.dirty && shortUrl.invalid) {
      <p class="control-error">Invalid Short URL entered.</p>
    }
  </form>
</section>
