/* You can add global styles to this file, and also import other style files */
@import '../src/assets/styles/index.scss';

html {
  margin: 0;
  padding: 0;
  /* 62.5% of 16px user agent font size is 10px */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: var(--font-sartorious);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}
