.control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & > * {
    flex: 1;
  }

  &:has(.ng-invalid.ng-touched.ng-dirty) label {
    color: var(--color-invalid-label);
  }

  & label {
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--color-white);
  }

  &:has(.ng-invalid.ng-touched.ng-dirty) input {
    background-color: var(--color-invalid-background);
    border-color: var(--color-invalid-input);
  }

  & input {
    padding: 1rem;
    font: inherit;
    font-size: 1.4rem;
    color: var(--color-text-placeholder);
  }
}
