:root {
  --color-primary: #ffed00;
  --color-secondary: #000000;
  --color-white: #ffffff;
  --color-invalid-label: #f98b75;
  --color-invalid-input: #e60046;
  --color-invalid-background: #fbdcd6;
  --color-text-placeholder: #4f4b53;
  --color-disabled-background: #d3d3d3;
  --color-disabled-text: #9e9e9e;
  --color-disabled-border: #bfbfbf;

  --font-sartorious: 'TT Norms Pro', sans-serif;

  --header-height: 8rem;
  --width-content: 1238px;
}

::ng-deep .p-toast {
  width: 40rem;
  font-size: 1.4rem;
}
